<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>386334878712-0ra7l01ddmomslcc10q32m4f0c5hlp3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386334878712-0ra7l01ddmomslcc10q32m4f0c5hlp3f</string>
	<key>API_KEY</key>
	<string>AIzaSyD3qyA6VlKEdqF8l-olYUvxBsJuKU0BT9U</string>
	<key>GCM_SENDER_ID</key>
	<string>386334878712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WaiterAssistant.Waiter-Assistant</string>
	<key>PROJECT_ID</key>
	<string>waiter-assistant-d9854</string>
	<key>STORAGE_BUCKET</key>
	<string>waiter-assistant-d9854.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386334878712:ios:6a160376a4c9715d</string>
	<key>DATABASE_URL</key>
	<string>https://waiter-assistant-d9854.firebaseio.com</string>
</dict>
</plist>